    <%- include("partials/header"); -%>

<form action="/alumnihome" method="post">
  <div class="container">
    <h1 style="font-family: 'Josefin Sans', sans-serif;">Alumni Login</h1>
    <p>Enter Login Credentials (Enter "test" as username and password)</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input style="  width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;" type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="psw"><b>Password</b></label>
    <input style="  width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;" type="password" placeholder="Enter Password" name="psw" id="psw" required>

  </div>
  <button style="width:300px" type="submit" class="loginbtn">Submit</button>
</form>



<%- include("partials/footer"); -%>