<%- include("partials/header"); -%>

<div class="bosscontainer">
    
    <%if(newsList.length === 0){%>
        <h1>No Posts Yet</h1>
        <%}else{%>
            <%newsList.forEach(function(element){%>
                <h1 style="display:inline-block;font-family: 'Josefin Sans', sans-serif;"><%=element.title%></h1> 
                <p style="display:inline"><%=element.information%> </p>  <br><br>
            <%});%>
        <%}%>
    
</div>
<div class="bosscontainer">
    <div class="threeinner">
        <button class="bossbutton" onclick="window.location.href='/suggestions'"><h2 style="font-family: 'Josefin Sans', sans-serif;">Suggestions Tab</h2></button>
    </div>
    <div class="threeinner">
        <button class="bossbutton" onclick="window.location.href='/alumnihome:request'"><h2 style="font-family: 'Josefin Sans', sans-serif;">Request Profile Update</h2></button>
    </div>
    <div class="threeinner">
        <button class="bossbutton" onclick="window.location.href='/tasks'"><h2 style="font-family: 'Josefin Sans', sans-serif;">Upcoming Tasks</h2></button>
    </div>
    <div style="border-radius:25px;display:flex;justify-content:center;align-items:center;width:100%;height:100px;background-color: aliceblue;">
        powered by &nbsp;
        <a href="https://www.linkedin.com/in/">Subodh Ingole</a>
    </div>
</div>
<div class="bottomcarousel">
    <div class="waviy">
        <span style="--i:1">m</span>
        <span style="--i:2">o</span>
        <span style="--i:3">r</span>
        <span style="--i:4">e</span>
        <span style="--i:5">&nbsp;</span>
        <span style="--i:6">t</span>
        <span style="--i:7">0</span>
        <span style="--i:8">&nbsp;</span>
        <span style="--i:1">c</span>
        <span style="--i:2">o</span>
        <span style="--i:3">m</span>
        <span style="--i:4">e</span>
       </div>
</div>



<%- include("partials/footer"); -%>