<%- include("partials/header"); -%>


<div class="buttoncontainer">
    <form class="boxbutton" action="/alumnilist">
        <button class="boxbutton" type="submit"><h1 style="font-family: 'Josefin Sans', sans-serif;">Alumni List</h1></button>
    </form>
    <form class="boxbutton" action="/addalumni">
        <button class="boxbutton" type="submit"><h1 style="font-family: 'Josefin Sans', sans-serif;">Add Alumni</h1></button>
    </form>
</div>

<br>
<div class="buttoncontainer">
    <form class="boxbutton" action="/addnews">
        <button class="boxbutton" type="submit"><h1 style="font-family: 'Josefin Sans', sans-serif;">Add news to Alumni Portal</h1></button>
    </form>

</div>
<br>

<div class="buttoncontainer">
    <form class="boxbutton" action="/sorting">
        <button class="boxbutton" type="submit"><h1 style="font-family: 'Josefin Sans', sans-serif;">Search By</h1></button>
    </form>
    <form class="boxbutton" action="/news">
        <button class="boxbutton" type="submit"><h1 style="font-family: 'Josefin Sans', sans-serif;">Industrial News</h1></button>
    </form>
</div>
<hr>


<%- include("partials/footer"); -%>