<%- include("partials/header"); -%>


<div class="buttoncontainer">
    <form class="boxbutton" action="/alumnilist">
        <button class="boxbutton" type="submit"><h1>Alumni List</h1></button>
    </form>
    <form class="boxbutton" action="/addalumni">
        <button class="boxbutton" type="submit"><h1>Add Alumni</h1></button>
    </form>
</div>

<br>

<div class="buttoncontainer">
    <form class="boxbutton" action="/sorting">
        <button class="boxbutton" type="submit"><h1>Search By</h1></button>
    </form>
    <form class="boxbutton" action="/news">
        <button class="boxbutton" type="submit"><h1>Industrial News</h1></button>
    </form>
</div>

<%- include("partials/footer"); -%>