.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

p {
	display: inline;
	align-items: center;
}

.navbar-header{
	position:relative;
	right: 150px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav li a:hover {
	color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
	color: #fff;
}

.title {
	width: 70vw;
	align-self: center;
}

.block {
	display: block;
	width: 100%;
	height: 50vh;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {

  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/login button */
.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity:1;

}

.boxbutton{
    background-color: #fff;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: 0 auto;
	padding  : 20px;
	border: 1px solid black;

}

.boxbutton[type=submit]{
	background-color: #04AA6D;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	margin: 0 auto;
	padding  : 20px;

}

.buttoncontainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.sortDivs{
	width: 30vw;
	background-color: #1abc9c;
	padding: 10px;
	height:60px;
	position: relative;
	top:10px;
	border-radius: 20px;
}

.inputsorting{
	width: 50%;
	border-radius: 10px;
	border: 1px solid black;
}

.btnone{
    display: inline-block;
    width: 250px;
    margin : 20px;
    margin-top: 0px;
	margin-bottom : 0px;

}

.bosscontainer{
	width: 49.8%;
	height: 450px;
	display: inline-block;
	margin-left: 0px;
	padding: 0px;
	overflow: auto;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 30px;

}

.bosscontainer::-webkit-scrollbar{
	width: 5px;
}

.container{
	position: relative;
	padding: 0px;
}

.bottomcarousel{

		background-color: #111;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 10vh;
		margin-top: 20px;
		border-radius: 10px;

}

.bossbutton{
	width: 100%;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #73AD21;
	margin-top: 20px;
	margin-bottom: 20px;

}
.waviy {
	position: relative;
  }
  .waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 2s infinite;
	animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
	0%,80% {
	  transform: rotateY(360deg) 
	}
  }

  